<li [ngClass]="{'list-group-item':true,
    'list-group-item-success': deviceStatus==='Allumé',
    'list-group-item-danger': deviceStatus==='Eteint'}">
    <div style="width: 20px; height: 20px; background-color: red;" *ngIf="getStatus()==='Eteint'"></div>
  <div [ngStyle]="{color: getColor()}" class="h4">Appareil : {{ deviceName }}</div>
  <div>Statut : {{ getStatus() }}</div>
  <input type="text" class="form-control" [(ngModel)]="deviceName" />
  <button [ngClass]="{'btn':true,
  'btn-sm': true,
  'btn-success': deviceStatus!=='Allumé',
  'btn-danger': deviceStatus==='Allumé'}" (click)="onClickSwitch()">Allumer/Eteindre</button>
</li>
