<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes appareils</h2>
      <p>Mis à jour : {{ lastUpdate | async | date: "EEEE d MMMM y" | uppercase }}</p>
      <ul class="list-group">
        <app-device
          *ngFor="let device of devicesArray"
          [deviceName]="device.name"
          [deviceStatus]="device.status"
        ></app-device>
        <button
          class="btn btn-success"
          [disabled]="!isAuthenticated"
          (click)="onTurnOnEverything()"
        >
          Tout allumer
        </button>
      </ul>
    </div>
  </div>
</div>
