<nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" routerLinkActive="active">
        <a class="nav-link" routerLink="authentication"
          >Authentification <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active" routerLinkActive="active">
        <a class="nav-link" routerLink="devices"
          >Appareils <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active" routerLinkActive="active">
        <a class="nav-link" routerLink="devices/new"
          >Nouvel appareil <span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
    <div class="navbar-right">
      <p>Vous êtes connecté depuis {{ seconds }} secondes !</p>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
